[user]
	email = flniu@126.com
	name = niufeilong
[push]
	default = simple
[diff]
	tool = vimdiff
[alias]
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[pull]
    ff = only
