set hlsearch
set incsearch
set ignorecase
set smartcase

nmap <ESC><ESC> :noh<CR>
vmap <silent> // y/<C-R>"<CR><CR>

set nrformats-=octal

set surround

set number
nmap <Leader>rn :set rnu!<CR>

noremap gy y$
noremap gc "*y$
